.imgWrap {
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.infoWrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: .5s;
}

.imgWrap:hover .photoImage {
    filter: blur(4px);
}

.imgWrap:hover .infoWrap {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}

.imgWrap:hover .userProfile {
    margin: 0 auto;
}

.photoImage {
    width: 100%;
    transition: .5s;
}

.userPhoto {
    border: 1px solid #fff;
    overflow: hidden;
    border-radius: 8px;
    display: inline-block;
    margin: 0px auto;
}

.userProfile {
    margin: -50px auto 100px;
    transition: .8s;
}

.actionIcons {
    display: flex;
    justify-content: space-between;
    width: 185px;
    margin: 40px auto 0;
}

.link {
    color: #fff;
}
.link:hover {
    color: #fff;
    text-decoration: none;
}
.pd40 {
    padding: 40% 20%;
}

.pd5 {
    padding: 5%;
}
.toFavorites {
    border: none;
    outline: none;
    background: none;
}