@font-face {
    font-family: 'SF_UI_Display_Medium';
    src: url("./../fonts/sf-ui-display-medium-58646be638f96.otf");
}
@font-face {
    font-family: 'SF_UI_Display_Light';
    src: url("./../fonts/sf-ui-display-light-58646b33e0551.otf");
}
@font-face {
    font-family: 'SF_UI_Display_Bold';
    src: url("./../fonts/sf-ui-display-bold-58646a511e3d9.otf");
}