.Header {
    background-color: #000;
    color: #fff;
    padding: 25px 0 28px 0;
    font-size: 20px;
}
.logoBlock {
    font-size: 24px;
    font-family: 'SF_UI_Display_Bold';
}
.logoBlock>div {
    margin-left: 0;
}
.topicBlock {
    display: flex;
}
.topicItem {
    margin: 5px auto;
    font-size: 16px;
}
.headerLinksWrap {
    display: flex;
}
.linksBlock {
    margin-left: auto;
    display: flex;
}