.Header {
    background-color: #000;
    color: #fff;
    padding: 25px 0 28px 0;
    font-size: 20px;
}
.logoBlock {
    font-size: 24px;
    font-family: 'SFUIDisplayBold';
}
.logoBlock>div {
    margin-left: 0;
}
.topicBlock {
    display: flex;
}
.topicItem {
    margin: 5px auto;
    font-size: 16px;
}
.headerLinksWrap {
    display: flex;
}
.linksBlock {
    margin-left: auto;
    display: flex;
}
.topicWrapper {
    display: flex;
    justify-content: center;
    position: relative;
}
.topicWrapper:after {
    content: '';
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 1) 80%);
    height: 100%;
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 50%;
    z-index: 10;
}
.logo {
    font-family: 'SFUIDisplayBold';
}