.headerLink {
    margin-left: 40px;
    font-family: 'SFUIDisplayLight';
}
.headerLink>a {
    color: #fff;
    position: relative;
}
.headerLink>a:hover {
    text-decoration: none;
    color: #fff;   
}
.linkText {
    margin-left: 12px;
}