body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'SFUIDisplayLight';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'SFUIDisplayMedium';
  src: local('SFUIDisplayMedium'), url('./assets/fonts/sf-ui-display-medium.otf') format('opentype');
}
@font-face {
  font-family: 'SFUIDisplayLight';
  src: local('SFUIDisplayLight'), url('./assets/fonts/sf-ui-display-light.otf') format('opentype');
}
@font-face {
  font-family: 'SFUIDisplayBold';
  src: local('SFUIDisplayBold'), url('./assets/fonts/sf-ui-display-bold.otf') format('opentype');
}